@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
}

p,
li {
  color: #858fad;
}

#main {
  position: relative;
  background: #fafbff url("./images/bg-pattern.svg") no-repeat top left;
  background-size: 100% 60%;
  width: 100%;
  height: 100vh;
}

#main .wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .wrapper .label {
  background: url("./images/pattern-circles.svg") no-repeat center center;
  padding: 73px;
  text-align: center;
}

#main .wrapper .card {
  background: #fff;
  border-radius: 10px;
  width: 35%;
  padding: 35px;
  -webkit-box-shadow: 0px 12px 15px 2px rgba(234, 238, 251, 0.7);
          box-shadow: 0px 12px 15px 2px rgba(234, 238, 251, 0.7);
}

#main .wrapper .card .card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .wrapper .card .card-top .pv {
  width: 49%;
  padding-bottom: 1rem;
}

#main .wrapper .card .card-top .pv p {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

#main .wrapper .card .card-top .prices {
  width: 49%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#main .wrapper .card .card-top .prices .price {
  font-size: 2rem;
  font-weight: 800;
  color: hsl 0, 0%, 100%;
  padding-right: .3rem;
}

#main .wrapper .card .card-top .prices p {
  text-align: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#main .wrapper .card .card-top .range {
  width: 100%;
  margin-bottom: 2.5rem;
}

#main .wrapper .card .card-top .range .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: -webkit-gradient(linear, left top, right top, from(#eaeefb), to(#eaeefb));
  background: linear-gradient(90deg, #eaeefb, #eaeefb);
  outline: none;
  border-radius: 12px;
}

#main .wrapper .card .card-top .range .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: url("./images/icon-slider.svg") no-repeat center center, #10d5c2;
  background-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 20px 1px rgba(16, 213, 194, 0.83);
          box-shadow: 0px 10px 20px 1px rgba(16, 213, 194, 0.83);
}

#main .wrapper .card .card-top .range .slider::-webkit-slider-thumb:hover {
  opacity: .7;
}

#main .wrapper .card .card-top .toggle-discount {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .wrapper .card .card-top .toggle-discount > :first-child {
  margin-left: 5rem;
}

#main .wrapper .card .card-top .toggle-discount p {
  font-size: 12px;
}

#main .wrapper .card .card-top .toggle-discount .toggle-icon {
  width: 35px;
  height: 18px;
  border-radius: 50px;
  background: #cdd7ee;
  position: relative;
  cursor: pointer;
}

#main .wrapper .card .card-top .toggle-discount .toggle-icon .circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 3px;
}

#main .wrapper .card .card-top .toggle-discount .toggle-icon:hover {
  background: #a5f3eb;
}

#main .wrapper .card .card-top .toggle-discount .discount .dis {
  color: #ff8c66;
  background: #feece7;
  border-radius: 30px;
  padding: 2px 6px;
  font-size: 12px;
  text-align: center;
}

#main .wrapper .card .line {
  width: 100%;
  height: 2px;
  background: #eaeefb;
  margin: 2rem 0;
}

#main .wrapper .card .card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .wrapper .card .card-bottom .features {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main .wrapper .card .card-bottom .features .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .wrapper .card .card-bottom .features .list img {
  margin-right: 1rem;
}

#main .wrapper .card .card-bottom .features .list li {
  list-style: none;
  margin-bottom: .5rem;
}

#main .wrapper .card .card-bottom .cta {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .wrapper .card .card-bottom .cta button {
  padding: .8rem 3rem;
  background: #293356;
  color: #bdccff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

#main .wrapper .card .card-bottom .cta button:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */